@import url("https://fonts.googleapis.com/css2?family=Geo&family=Lato&display=swap");

body {
  background-color: black !important;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  color: rgb(200, 255, 18);
  border: 1px solid rgb(37, 37, 37);
  font-family: "Geo", sans-serif;
  width: 50%;
}
.niveau {
  font-size: 1.7rem;
}
.input-number {
  width: 80px;
  overflow-y: scroll;
}
.score-user {
  font-size: 1.7rem;
}
.para-niveau {
  font-size: 1.7rem;
  text-align: center;
}
.btn-jeu {
  border: 2px solid rgb(200, 255, 18);
  background-color: rgb(26, 25, 25);
  color: rgb(200, 255, 18);
}
.buttons {
  padding-top: 50px !important;
}
.text-facile {
  font-size: 1.2rem;
  color: rgb(209, 252, 69);
}
.text-moyen {
  font-size: 1.2rem;
  color: rgb(209, 252, 69);
}
.text-difficile {
  font-size: 1.2rem;
  color: rgb(209, 252, 69);
}
.input-number {
  border: 3px solid rgb(209, 252, 69);
}
::placeholder {
  color: black;
}
.text-desole {
  color: rgb(165, 28, 28);
  font-size: 1.5rem;
}
.essai {
  font-size: 1.5rem;
}
.reussi {
  font-size: 1.5rem;
  color: rgb(45, 171, 45);
}
.button-reessayez {
  background-color: rgb(200, 255, 18);
  color: black;
  border: none;
}
.perdu {
  font-size: 1.5rem;
  color: rgb(165, 28, 28);
}
.icon {
  color: rgb(165, 28, 28);
  font-size: 1.9rem;
}
.btn-again {
  color: rgb(200, 255, 18);
  border: none;
  background-color: black;
  border: 1px solid rgb(200, 255, 18);
  padding: 10px;
  border-radius: 10px;
}
.prenom-intro {
  padding: 20px;
  background-color: rgb(200, 255, 18);
  border: none;
  box-shadow: 0px 0px 60px 1px rgb(200, 255, 18);
}
::placeholder {
  font-family: "Geo", sans-serif;
  font-size: 1.5rem;
}
.input-number::placeholder {
  font-size: 0.9rem;
}
.btn-submit {
  border: none;
  font-family: "Geo", sans-serif;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(200, 255, 18);
  background-color: black;
  border: 2px solid rgb(200, 255, 18);
}
input[name="difficulty"] {
  accent-color: rgb(110, 129, 41);
}
.btn-deconnect {
  border: none;
  background-color: rgb(34, 33, 33);
  color: rgb(200, 255, 18);
  font-size: 1.1rem;
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .input-facile {
    display: block;
  }
  .input-moyen {
    display: block;
  }
  .input-difficile {
    display: block;
  }
  .input-radio {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 890px) {
  section {
    width: 90% !important;
  }
}
@media screen and (max-width: 394px) {
  .para-niveau {
    font-size: 1.4rem !important;
  }
}
